script(src='vendor/parse-js-sdk/lib/parse.js')
script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/modernizr/modernizr.js')
script(src='vendor/foundation/js/foundation.min.js')
script(src='vendor/angular/angular.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC5LxmxbjYQoaPFxvw_sLhQZ-F60oYvrVk&libraries=drawing')
script(src='app/index.js')
script(src='app/doorReports/mapController.js')